/* CSS Document */
.fl{
	float:left;	
}
.fr{
	float:right;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}
.clearfix{
	zoom:1;	
}
.sanjiao{
	
}
.auto{
	margin:0 auto;	
}

.l_maincont_top{
	background:url(../images/l_maincont_top.png) no-repeat;	
}

.icon{
	background:url(../images/i-header.png) no-repeat;	
}
